@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Play);
@import url(http://fonts.googleapis.com/css?family=Monoton);

*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
body{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #111;
}

/* 배경동영상 */
#vid{
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}
#vid video{
    width: 100%;
    min-width: 1600px;
}

/*로고*/
h1 { 
    position:fixed; top:40px; left:40px; z-index:10;
}
h1 img { 
    width:280px; height:auto;
}
header { 
    width:700px; height:100%; position:fixed; top:0px;
    transform: skewX(-40deg);
    left: -420px;
    background:linear-gradient(-45deg,#7F9899, #62888F, #557B84);
}

/* 1depth */
#gnb {
    width:220px; position:absolute; top:150px; right:0px;
}
#gnb>li {
    position:relative; 
}
#gnb>li>a { 
    display:block; width:220px; height:50px; font:bold 18px/3 play; color:#222; box-sizing:border-box; padding-right:40px; text-align:right;
}
#gnb>li.on>a{
    background: #1E343A;
    color: white;
}
#gnb>li:hover>a{
    background: #446370;
    color: black;
}
#gnb em{
    display:inline-block; 
    transform:skewX(40deg)!important;
}
#gnb em i {
    margin-right:20px;
}

/* 2depth */
#gnb>li>ul{
    position: absolute;
    left: 0;
    opacity: 0;
    transition: 4s;
}
#gnb>li:hover>ul{
    left: 200px;
    opacity: 1;
}
#gnb ul a{
    display: block;
    width: 220px;
    height: 50px;
    background-color: #dddddd;
    color: black;
    font:bold 16px/2.5 arial;
    box-sizing:border-box; padding-left:50px; margin-bottom:3px;
    transition: 1s;
}
#gnb ul a:hover{
    background: #7F9899;
    color: white;
}

/* SNS버튼 */
#sns{
    position: fixed;
    top: 40px;
    right: 30px;
}
#sns>li{
    float: left;
    margin-right: 25px;
}
#sns .fa{
    color:#7F9899;
    font-size: 25px;
    opacity: 0.5;
    transform: scale(1);
    transition: 0.4s;
}
#sns a:hover .fa{
    opacity: 1;
    transform: scale(1.5);
}

/* contents 레이아웃 */
#side {width:800px; height:100%; position:fixed; bottom:0px; right:-800px; background:#111; opacity:0.5; transform:skewX(-40deg); transition:all 0.5s;}
#side:hover { right:-500px; opacity:0.8;}
#side .con { width:400px; height:100%; position:absolute; left:150px; bottom:0px; background:#000; 	box-sizing:border-box; padding:10px; transition:all  1s;}
#side:hover .con { left:50px;}

/* contents내 썸네일 */
#side .con p { width: 300px; height:100px; position:absolute; left:50px;}
#side .con p em { display:inline-block; font:bold 16px/1.7 arial; color:#B2B89E; transform:skewX(40deg);}
#side .con p img { width:300px; height:70px; opacity:0.3; transition:all 0.5s;}
#side .con p img:hover { opacity:1;}
#side .con p:nth-child(1) { bottom:270px; transform: translateX(200px); transition:all 0.4s;}
#side .con p:nth-child(2) { bottom:160px; transform: translateX(200px); transition:all 0.8s;}
#side .con p:nth-child(3) { bottom:50px; transform: translateX(200px); transition:all 1.2s;}
#side:hover .con p { transform:translateX(0px);}

/* 자동롤링 버튼*/
#side .btnContents { width:150px; height:50px; position:absolute;  bottom:40px; left:100px; color:#7F9899;	transform:skewX(40deg); }
#side:hover .btnContents { left:700px;}	
.btnContents i { font-size:60px; position:absolute; bottom:0px; right:0px; opacity:1;}
.btnContents i { animation: ani; animation-duration: 1s;
                animation-iteration-count: infinite;}

@keyframes ani{
    0%{
        right: 0;
        transform: scale(1);
    }
    100%{
        right: 200px;
        transform: scale(1.5);
    }
}